@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section,
main {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

address {
  font-style: normal;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
/* Указываем понятную периодичность в потоке данных у article*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw+1vh);
  --color-header: #f4efec;
  --color-text: #cdc6c3;
  --gallery-gap: calc(var(--index) * 10) ;
}

@font-face {
  font-family: raleway-c;
  src: url(../fonts/raleway-regular.woff2);
}
@font-face {
  font-family: outfit-c;
  src: url(../fonts/outfit-regular.woff2);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: outfit-c;
}

.content,
.hero,
.main-header,
.gallery > * {
  will-change: transform;
}

body {
  background-image: url(../img/bg.jpg);
  background-size: 50px;
  color: #fafafa;
  font-family: raleway-c;
  overflow-x: hidden;
}

.hero {
  width: calc(var(--index) * 49);
  position: absolute;
  left: 37vw;
  top: 8vh;
  z-index: -1;
}

.main-header {
  height: 100vh;
}

.container {
  padding: 0 7vw;
}

.main-title {
  font-size: calc(var(--index) * 8);
  position: absolute;
  width: -moz-min-content;
  width: min-content;
  bottom: 12vh;
  line-height: 0.9;
}

.gallery {
  display: flex;
  padding: calc(var(--index) * 8) 0;
}

.gallery > * {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery__item {
  max-width: calc(var(--index) * 21);
  margin-bottom: var(--gallery-gap);
  max-height: 180vh;
  border-radius: 8px;
}

.gallery__left {
  margin-top: calc(var(--gallery-gap) * 1.75);
}

.gallery__right .gallery__item {
  margin: 0;
  margin-top: var(--gallery-gap);
}

.text-block {
  color: var(--color-text);
  position: relative;
}

.text-block__h {
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-header);
  margin-bottom: 1.5rem;
}

.text-block__p {
  line-height: 1.75;
}