@import "null";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw+1vh);
    --color-header: #f4efec;
    --color-text: #cdc6c3;
    --gallery-gap: calc(var(--index) * 10)
}

@font-face {
    font-family: raleway-c;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: outfit-c;
    src: url(../fonts/outfit-regular.woff2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: outfit-c;
}

// will-change
.content,
.hero,
.main-header,
.gallery>* {
    will-change: transform;
}

body {
    background-image: url(../img/bg.jpg);
    background-size: 50px;
    color: #fafafa;
    font-family: raleway-c;
    overflow-x: hidden;

    &._lock {
        overflow: hidden;
    }
}

.hero {
    width: calc(var(--index) * 49);
    position: absolute;
    left: 37vw;
    top: 8vh;
    z-index: -1;
}

.main-header {
    height: 100vh;
}

.container {
    padding: 0 7vw;
}

.main-title {
    font-size: calc(var(--index) * 8);
    position: absolute;
    width: min-content;
    bottom: 12vh;
    line-height: .9;
}

.gallery {
    display: flex;
    padding: calc(var(--index) * 8) 0;
}

.gallery>* {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gallery__item {
    max-width: calc(var(--index) * 21);
    margin-bottom: var(--gallery-gap);
    max-height: 180vh;
    border-radius: 8px;
}

.gallery__left {
    margin-top: calc(var(--gallery-gap) * 1.75);
}

.gallery__right .gallery__item {
    margin: 0;
    margin-top: var(--gallery-gap);
}

.text-block {
    color: var(--color-text);
    position: relative;
}

.text-block__h {
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--color-header);
    margin-bottom: 1.5rem;
}

.text-block__p {
    line-height: 1.75;
}


// другий комміт

.page {

    &__particles {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 20;

        // & canvas {
        //     z-index: 25;
        // }
    }

    &__menu {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 54px;
        right: 54px;
        width: 54px;
        height: 54px;
        border: 2px solid #f4efec68;
        border-radius: 10%;
        cursor: pointer;
        transition: all 1s ease 0s;
        transform: rotateZ(0deg) scale(1);
        z-index: 20;

        &::before {
            width: 32px;
            height: 2px;
            margin-bottom: 10px;
            background: #f4efec68;
            content: "";
        }

        &::after {
            width: 32px;
            height: 2px;
            background: #f4efec68;
            content: "";
        }

        @media (any-hover:hover) {
            &:hover {
                transition: .7s;
                transform: rotateZ(180deg) scale(1.1);
                background: #f4efec68;
                border: #f4efec00;

                &::before {
                    background: black;
                }

                &::after {
                    background: black;
                }
            }
        }

        &_bg {
            position: fixed;
            display: none;
            // transform: translateX(100%);
            // transition: all .75s cubic-bezier(.075, .5, 0, 1);
            transition: 1s;
            // will-change: transform;
            opacity: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.772);
            z-index: 10;

            &-active {
                // transform: translateX(0%);
                opacity: 1;
            }

            &-pre-active {
                display: block;
            }
        }

        &_list {
            position: fixed;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // flex-direction: column;
            // padding-top: 20px;
            top: 144px;
            right: 0;
            width: 15%;
            height: 40%;
            z-index: 15;
            // background: rgba(255, 255, 255, 0.2);
            // border-radius: 5%;
            // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            // backdrop-filter: blur(6px);
            // -webkit-backdrop-filter: blur(6px);

            &-item {
                font-size: 30px;
                margin-bottom: 30px;
                font-weight: 500;
                letter-spacing: 2px;
                transition: .5s;
                transform: scale(1);
                cursor: pointer;

                &:last-child {
                    margin-bottom: 0;
                }

                &.active {
                    color: rgb(29, 144, 0);
                    cursor: default;

                    @media (any-hover:hover) {
                        &:hover {
                            transform: scale(1);
                        }
                    }
                }

                @media (any-hover:hover) {
                    &:hover {
                        transition: .2s;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}