@import "null";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw+1vh);
    --color-header: #f4efec;
    --color-text: #cdc6c3;
    --gallery-gap: calc(var(--index) * 10)
}

@font-face {
    font-family: raleway-c;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: outfit-c;
    src: url(../fonts/outfit-regular.woff2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: outfit-c;
}

// will-change
.content,
.hero,
.main-header,
.gallery>* {
    will-change: transform;
}

html {
    scroll-behavior: smooth;
    // background: url(../img/bg.jpg);
    background: #1f1e1e;

}

body {
    // background-image: url(../img/bg.jpg);
    // background-size: 50px;
    background: #1f1e1e;
    color: #fafafa;
    font-family: raleway-c;
    overflow-x: hidden;

    &._lock {
        overflow: hidden;
    }
}

::-webkit-scrollbar {
    width: 0;
}

// .hero {
//     width: calc(var(--index) * 49);
//     position: absolute;
//     // transform: rotateZ(-90deg);
//     left: -104px;
//     top: -180px;
//     z-index: -1;
// }

.main-header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__scroll {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        padding-bottom: calc(var(--index) * 6);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        @media(any-hover:none) {
            padding-bottom: 150px;

        }

        &_button {
            cursor: pointer;
            padding: 10px 10px 15px 10px;
            opacity: .7;
            transform: scale(1);
            transition: 1s;


            // border: 2px solid var(--color-text);
            @media(any-hover:hover) {
                &:hover {
                    opacity: 1;
                    transform: scale(1.1);
                    transition: .5s;
                }
            }

        }
    }

    &__text {
        color: var(--color-text);
        // opacity: .7;
        margin-bottom: 10px;
        font-size: calc(var(--index) * 2);
    }

    &__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        // opacity: .7;

        &::before {
            content: "";
            width: 12px;
            height: 2px;
            background: var(--color-text);
            transform: rotateZ(45deg) translateX(3.5px);
        }

        &::after {
            content: "";
            width: 12px;
            height: 2px;
            background: var(--color-text);
            transform: rotateZ(-45deg) translateX(-3.5px);
        }
    }
}

.portfolio {
    min-height: 100vh;
}

.container {
    padding: 0 7vw;
}

.main-title {
    font-size: calc(var(--index) * 6);
    // position: absolute;
    // bottom: 40vh;
    line-height: .9;
    // letter-spacing: -4px;
    margin-bottom: 20px;
    font-weight: 500;
    // color: var(--color-text);
    // text-shadow: 1px 1px 4px rgb(157, 154, 154);

    @media(max-width: 480px) {
        text-align: center;
        font-size: 66px;
        flex-wrap: wrap;
    }

    &_sub {
        font-size: calc(var(--index) * 2.5);
        // position: absolute;
        // bottom: 12vh;
        line-height: .9;
        font-family: raleway-c;
        font-weight: 300;
        color: var(--color-text);
        // text-shadow: 1px 1px 2px rgb(130, 128, 128);
        // margin-bottom: calc(var(--index) * 24);

        @media(max-width: 480px) {
            font-size: 30px;
        }
    }

}

.gallery {
    display: flex;
    padding: calc(var(--index) * 8) 0;

    @media(max-width: 570px) {
        flex-direction: column;
    }
}

.gallery>* {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gallery__item {
    max-width: calc(var(--index) * 24);
    margin-bottom: calc(var(--gallery-gap)*2);
    max-height: 180vh;
    border-radius: 8px;
    min-width: 0;

    @media(max-width: 704px) {
        max-width: calc(var(--index) * 32);
    }

    &_1 {
        border: 10px solid #8a8786c0;
        width: 50vw;
        // height: 20vh;

        @media(max-width: 704px) {
            border: 6px solid #8a8786c0;
            // margin-bottom: 200px;
        }
    }




    // &_img {
    //     max-width: 500px;
    // }
}

.gallery__left {
    margin-top: calc(var(--gallery-gap) * 1.75);

    @media(max-width: 570px) {
        flex-direction: column-reverse;
    }
}

.gallery__right .gallery__item {
    margin: 0;
    margin-top: calc(var(--gallery-gap) * 2.3);
}

.text-block {
    color: var(--color-text);
    position: relative;
}

.text-block__h {
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--color-header);
    margin-bottom: 1.5rem;

    @media(max-width:1152px) {
        font-size: 1rem;
    }

    @media(max-width: 704px) {
        line-height: 1.5;
    }

    @media(max-width:480px) {
        font-size: 2rem;
        text-align: center;
    }

    &_1 {
        @media(max-width: 554px) {
            padding-top: 34px;
        }

        @media(max-width:480px) {
            font-size: 2rem;
            text-align: center;
        }
    }

    &_git {
        // padding-left: 85%;
        position: absolute;
        right: 0;
        bottom: 0;

        @media(max-width:1152px) {
            position: relative;
        }

        @media(max-width:480px) {
            left: 50px;

        }

        & img {
            transition: 1s;
            transform: rotateY(0deg) scale(1);
            max-width: 32px;


            @media(any-hover:hover) {
                &:hover {
                    transition: .5s;
                    transform: rotateY(180deg) scale(1.1);
                }
            }
        }
    }
}

.text-block__p {
    line-height: 1.75;
}


// другий комміт

.page {

    &__particles {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        // z-index: 20;

        // & canvas {
        //     z-index: 25;
        // }
    }

    &__menu {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 54px;
        right: 54px;
        width: 54px;
        height: 54px;
        border: 2px solid #f4efec68;
        border-radius: 10%;
        cursor: pointer;
        transition: all 1s ease 0s;
        transform: rotateZ(0deg);
        z-index: 20;



        @media (max-width: 754px) {
            width: 40px;
            height: 40px;
            top: 30px;
            right: 30px;
        }

        &::before {
            width: 32px;
            height: 2px;
            margin-bottom: 10px;
            background: #f4efec68;
            content: "";
            transition: .5s;

            @media (max-width: 754px) {
                width: 20px;
            }
        }

        &::after {
            width: 32px;
            height: 2px;
            background: #f4efec68;
            content: "";
            transition: .5s;

            @media (max-width: 754px) {
                width: 20px;
            }
        }

        &.active {
            &::before {
                transform: rotateZ(45deg) translate3d(4.25px, 4.25px, 0);
            }

            &::after {
                transform: rotateZ(-45deg) translate3d(4.25px, -4.25px, 0);
            }
        }

        @media (any-hover:hover) {
            &:hover {
                transition: .5s;
                transform: rotateZ(180deg) scale(1.1);
                background: #f4efec68;
                border: #f4efec00;

                &::before {
                    background: black;
                }

                &::after {
                    background: black;
                }
            }
        }

        &_bg {
            position: fixed;
            display: none;
            // transform: translateX(100%);
            // transition: all .75s cubic-bezier(.075, .5, 0, 1);
            transition: 1s;
            // will-change: transform;
            opacity: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.772);
            z-index: 10;

            &-active {
                // transform: translateX(0%);
                opacity: 1;

            }

            &-pre-active {
                display: block;
            }
        }

        &_list {
            position: fixed;
            display: flex;
            // align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            // padding-top: 20px;
            padding-right: calc(var(--index) * 7);
            top: 144px;
            right: 0;
            // width: calc(var(--index) * 34);
            // height: 50%;
            z-index: 15;

            @media(any-hover:none) {
                padding-right: 44px;

            }

            &-item {
                font-size: 30px;
                margin-bottom: 30px;
                font-weight: 500;
                letter-spacing: 2px;
                transition: .5s;
                transform: scale(1);
                cursor: pointer;

                &:last-child {
                    margin-bottom: 0;
                }

                &.active {
                    color: rgb(29, 144, 0);
                    cursor: default;

                    @media (any-hover:hover) {
                        &:hover {
                            transform: scale(1);
                        }
                    }
                }

                @media (any-hover:hover) {
                    &:hover {
                        transition: .2s;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.slider {

    height: 250px;
    width: 425px;
    position: relative;
    // margin-top: -20%;
    // margin-left: -20%;
    transform: translateY(60px);

    @media(max-width: 1124px) {
        height: 200px;
        width: 340px;
        transform: translateY(0);
    }

    @media(max-width: 890px) {
        height: 150px;
        width: 250px;
        transform: translateX(-20px);
    }

    @media(max-width:480px) {
        left: 20px;
    }

    &__slide {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        & img {
            height: 100%;
            border: 10px solid #8a8786c0;
            border-radius: 8px;
        }

        &.active {
            z-index: 1;
        }
    }

    &__arrows {
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        top: 0;
        left: 0;
        z-index: 2;

        &_back {
            display: flex;
            flex-direction: column;
            cursor: pointer;

            &::before {
                width: 20px;
                height: 2px;
                background: #cdc6c3;
                content: "";
                transform: rotateZ(-45deg) translateY(-8px);
            }

            &::after {
                width: 20px;
                height: 2px;
                background: #cdc6c3;
                content: "";
                transform: rotateZ(45deg) translateY(8px);
            }
        }

        &_next {
            display: flex;
            flex-direction: column;
            cursor: pointer;

            &::before {
                width: 20px;
                height: 2px;
                background: #cdc6c3;
                content: "";
                transform: rotateZ(45deg) translateY(-8px);
            }

            &::after {
                width: 20px;
                height: 2px;
                background: #cdc6c3;
                content: "";
                transform: rotateZ(-45deg) translateY(8px);
            }
        }
    }
}

// .swiper {
//     width: 100%;
//     height: 100%;
// }

// .slider {

//     padding: 10px;
//     // width: calc(var(--index) * 36);
//     border: 10px solid #8a8786c0;
//     border-radius: 8px;
//     transform: translateX(-20%);

//     @media(max-width: 704px) {
//         border: 6px solid #8a8786c0;
//         width: calc(var(--index) * 46);
//         transform: translateX(-12%);

//     }


//     &__img {
//         text-align: center;

//         & img {
//             max-width: 100%;
//         }
//     }
// }

// .slider .swiper-button-prev::after,
// .slider .swiper-button-next::after {
//     color: rgba(255, 255, 255, 0.509);
//     font-size: 24px;
// }

// .slider .swiper-pagination-bullet {
//     width: 6px;
//     height: 6px;
//     // font-size: 14px;
//     background-color: rgba(255, 255, 255, 0.509);
// }